:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-width: 0;
  min-height: 0;
  overflow: hidden; /* the app container handles scrolling */
}
